body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1em;
}

button {
    background-color: #333;
    color: white;

    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

th, td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}